{% extends "admin/change_list.html" %}
{% load i18n %}

{% block extrastyle %}
  {{ block.super }}
    <style>
      #header {
          background-color: black;
      }
      .embeded-docs {
          max-width: 800px;
      }
    </style>
{% endblock %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}
{% block branding %}<h1 id="site-name"><a href="/">ODK Scan</a></h1>{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block pretitle %}
<div class="embeded-docs">
    <h3>Transcribing</h3>
    <p>
    To transcribe a group of forms select their checkboxes and then choose one of the transcribe
    actions from the action menu. Form view will show interactive images of entire forms one at a time.
    Table view will show images of segments from all the chosen forms in a table.
    </p>
    <h3>Filtering</h3>
    <p>
    By selecting filters from the panel on the left you can apply actions to all the forms
    matching some criteria. For example, you could generate a csv with only the transcribed
    forms in batch X that use template Y.
    </p>
</div>
{% endblock %}


{% block object-tools-items %}
{{ block.super }}
<li>
  <a href="/uploader" class="addlink">Add Batch</a>
</li>
{% endblock %}