{% extends "admin/change_list.html" %}
{% load i18n %}

{% block extrastyle %}
  {{ block.super }}
    <style>
      #header {
          background-color: black;
      }
      .embeded-docs {
          max-width: 800px;
      }
    </style>
{% endblock %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}
{% block branding %}<h1 id="site-name"><a href="/">ODK Scan</a></h1>{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block pretitle %}
<div class="embeded-docs">
    <h3>Templates</h3>
    <p>
    Templates consist of a form image, and a json document that
    defines what and where all the data is on the form. You can generate them from
    spreadsheets using <a href="/xlsform">this</a> tool.
    </p>
</div>
{% endblock %}