{% extends "admin/change_list.html" %}
{% load i18n %}

{% block extrastyle %}
  {{ block.super }}
    <style>
      #header {
          background-color: black;
      }
      .embeded-docs {
          max-width: 800px;
      }
    </style>
{% endblock %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}
{% block branding %}<h1 id="site-name"><a href="/">ODK Scan</a></h1>{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block pretitle %}
<div class="embeded-docs">
    <h3>Templates</h3>
    <p>
    Templates consist of a form image and a json document. The json document specifies
    where all the data is on the image, and what kind of data it is.
    You can automatically generate the from image and the corresponding json from XLSX
    spreadsheets using <a href="/static/XLSXGenerator/index.html">this tool</a>.
    </p>
</div>
{% endblock %}

{% block object-tools-items %}
{{ block.super }}
<li>
  <a href="/static/XLSXGenerator/index.html" class="addlink">Create Template</a>
</li>
{% endblock %}
