<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Form Image Uploader</title>

<!-- Bootstrap CSS Toolkit styles -->
<link href="../static/transcription/assets/css/bootstrap.css" rel="stylesheet">
<!-- Generic page styles -->
<link rel="stylesheet" href="../static/jQuery-File-Upload/css/style.css">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="../static/jQuery-File-Upload/css/jquery.fileupload-ui.css">
<style>
.ratio{
    position:relative;
    width: 100%;
    height: 0;
    padding-bottom: 50% ; /* % of width, defines aspect ratio*/
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
}
</style>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>ODKScan Form Image Uploader</h1>
    </div>
    <blockquote>
        <p>You can <strong>drag &amp; drop</strong> files from your desktop on this webpage with Google Chrome, Mozilla Firefox and Apple Safari.</p>
        <p>Only image files (<strong>JPG, GIF, PNG</strong>) are allowed.</p>
    </blockquote>
    <br>

    <h1>Choose a template:</h1>
    <div id="myCarousel" class="carousel slide" data-interval="false">
    <div class="carousel-inner">
    {% for template in templates %}
      <div class="item" data-name="{{template.name}}">
        <div class="ratio" style="background-image:url('{{template.image.url}}')" />
        <center><img src="" alt=""></center>
        <div class="carousel-caption">
          <h4>{{template.name}}</h4>
        </div>
      </div>
    {% endfor %}
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
    
    
    
    <!-- The file upload form used as target for the file upload widget -->
    <form id="fileupload">
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="span7">
            
                <div class="input-prepend" style="float:right;">
                  <span class="add-on">Batch Name:</span><!--
                  --><input class="span2" id="batchName" type="text" value="{{ user.username }} {% now "SHORT_DATE_FORMAT" %}">
                </div>
            
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple>
                </span>
                <a class="btn btn-primary upload-everything">
                    <i class="icon-upload icon-white"></i>
                    <span>Start upload</span>
                </a>
                
            </div>
        </div>
        <!-- The loading indicator is shown during file processing -->
        <div class="fileupload-loading"></div>
        <br>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
    </form>

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    	<script src="../static/transcription/assets/js/bootstrap-transition.js"></script>
		<script src="../static/transcription/assets/js/bootstrap-carousel.js"></script>
<script src="../static/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
<script src="../static/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
<script src="../static/jQuery-File-Upload/js/jquery.fileupload.js"></script>
<script>
$(function () {
    $('#fileupload').fileupload({
        url: '../uploadForms',
        dataType: 'json',
        fileTypes: /^.*$/,//   /^image\/(gif|jpeg|png)$/,
        maxFileSize: 20000000, // 20MB
        add: function (e, data) {
            var $upload = $('<button class="btn btn-success">Upload</button>');
            var $cancel = $('<button type="button" class="btn btn-danger delete"><i class="icon-ban-circle icon-white"></i><span>Cancel</span></button>');
            var $row = $('<tr>');
            var uploadFunction = function() {
                data.context.text('Uploading...');
                data.formData = {
                    example: $('.item.active').data('name'),
                    batchName: $('.batchName').val()
                };
                data.submit();
                $('body').off('click', '.upload-everything', uploadFunction);
            };
            data.context = $('<td>');
            data.context.append($upload).append($cancel);
            $row.append($('<td>').text(data.files[0].name));
            $row.append(data.context);
            $('.files').append($row);
            $('body').on('click', '.upload-everything', uploadFunction);
            $upload.click(uploadFunction);
            $cancel.click(function(){
                $row.remove();
                $('body').off('click', '.upload-everything', uploadFunction);
            });
        },
        done: function (e, data) {
            console.log(data);
            $.each(data.result.files, function (index, file) {
                data.context.text("Uploaded");
            });
        }
    });
});
</script>
</body> 
</html>