<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Form Converter</title>
	<!-- Bootstrap CSS Toolkit styles -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript">
	//Javascript for the loading bar
	$(document).ready(function() {
		$('#myForm').submit(function() {
			$('#submitBtn').replaceWith('<div class="progress progress-striped active"><div class="bar" style="width: 100%;"></div></div>');
		});
	});
	</script>
</head>
<body>

{% block upload %}
<form enctype="multipart/form-data" method="post" class="well" id="myForm">
	<table>
       {{form.as_table}}
    </table>
    <input type="submit" value="Submit" id="submitBtn" class="btn" />
</form>
{% endblock %}

{% if dir %}
	{% if error %}
	<div class="alert alert-error">
		{{ error }}
	</div>
	{% else %}
	<div class="alert alert-success">
		<a href="download/{{ dir }}/{{ name }}" class="btn btn-success">Download JSON Template</a>
		<a href="serve_json/{{ dir }}/{{ name }}" class="btn btn-success">View JSON Template</a>
		<a href="static/formDrawer/index.html?jsonUrl=../../serve_json/{{ dir }}/{{ name }}" class="btn btn-success">Generate Image</a>
	</div>
	{% endif %}

	{% for warning in warnings %}
	    <div class="alert">
	        {{ warning }}
	    </div>
	{% endfor %}
{% endif %}

<div id="output"></div>
</body>
</html> 