{% load scantags %}
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Form Converter</title>
	<!-- Bootstrap CSS Toolkit styles -->
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <style type="text/css">
.keepformatting {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
}
.custom-container {
margin: 0 auto;
max-width: 1024px;
}
.custom-container > hr {
margin: 30px 0;
}
body{
  padding-top: 60px;
}
.docs td {
border: 1px solid gray;
}
.docs h2 {
border-bottom: 2px solid gray;
margin-top: 1em;
margin-bottom: .5em;
}
.docs h3 {
border-bottom: 1px solid lightgray;
margin-top: 1em;
margin-bottom: .5em;
}
	</style>
</head>
<body>

<div class="custom-container">

    <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li><a href="../">Home</a></li>
    </ul>
    <h3 class="muted">Form Generator</h3>
    </div>
    
    <hr>
      
    <blockquote>
    {% begin_textile %}
    This tool will create printable form images as well as a template needed by Scan to process the generated form.
    XLSForms are xls or xlsx workbooks that can be used to generate forms for ODK Scan and other ODK tools. Below the XLSForm format for ODK Scan forms is described:
    "An example form is available here.":https://docs.google.com/spreadsheet/ccc?key=0Ak1svGcuI9iqdEFiRFpEZ0NTNUMzb0VaUm5sby1pbUE 
    {% end_textile %}
    </blockquote>
    <br>

{% block upload %}
<form enctype="multipart/form-data" method="post" class="well" id="myForm">
	<table>
       {{form.as_table}}
    </table>
    <input type="submit" value="Submit" id="submitBtn" class="btn" />
</form>
{% endblock %}

{% if error %}
    <div class="alert alert-error keepformatting">>{{ error }}</div>
{% endif %}

{% for warning in warnings %}
    <div class="alert keepformatting">{{ warning }}</div>
{% endfor %}

{% if paths %}
    <div class="alert alert-success">
    <a href="download/{{ paths.0 }}" class="btn btn-success">Download Template</a>
    <p>After you download the template save the form image into the template folder as form.jpg</p>
    <p>For multi-page forms place images of ensuing pages inside the "nextPage" folders.</p>
    <p>Form images must be present or Scan will not work.</p>
    {% for path in paths %}
        <div style="margin:1em;">
            <iframe src="../static/formDrawer/index.html?jsonUrl=../../xlsform/serve_json/{{ path }}/template.json" width="100%" height="1100px"></iframe>
            <a href="serve_json/{{ path }}/template.json" class="btn btn-info" target="_blank">View JSON</a>
        </div>
    {% endfor %}
    </div>
{% endif %}

<div id="output"></div>

<div class="docs">

{% begin_textile %}

h1. XLS Format documentation

The form converter expects workbooks with 3 sheets: survey, choices and settings.
They are individually described in the sections below.
Most spreadsheet programs have controls in the bottom-left corner where you can create them.

h2. survey

All XLSForms require a survey sheet. The survey worksheet contains the structure and most of the content of the form. It contains the full list of questions and information about how they should be presented. Most rows represent a question; the rest of the rows specify control structures such as groups.

Example survey sheet:

| *type* | *name*   | *label*            |
| text   | user_name| What is your name? |
| integer| user_age | How old are you?   |

h3. survey sheet columns:

h4. type

| text   | Write-in text input. |
| integer| Integer (i.e. whole number) input.|
| decimal| Decimal input. |
| note   | Displays a label with no input. |
| select_one `choice_list` | Multiple choice question; only one answer can be selected. |
| select_multiple `choice_list` | Multiple choice question; multiple answers can be selected.|

Scan specific types:

| tally `number` | Print the specified number of bubbles, and count up how many are filled in. |
| markup | A label that only appears on the printed form. |

h4. Groups:
Groups are drawn as columns. Nested groups are drawn as rows within a column. For example:

| *type* | *name*   | *label*            |
| begin group| | |
| note| | This is in the left column |
| begin group| | |
| note| | These are |
| note| | in rows in  |
| note| | the right column  |
| end group| | |
| end group| | |

h4. name

The name sets the variable the answer is stored under.

h4. label

The label is typically the question you want to ask. Labels can contain line-breaks (most spreadsheet software allows you to create line breaks using ctrl or alt + enter).

h4. min_height

Form segments are not automatically re-sized to fit text. If the text content is overflowing you can set the min_height to some number of pixels to make the segment larger.

h4. default/constraint

When scanned forms are exported to Collect the default and constraint columns can be used to set default values to be entered as answers, as well as xpath constraints on the answers. [http://opendatakit.org/help/form-design/xlsform/ For more information see the XLSForm documentation.]

h4. font

Using the font column it is possible to customize the font of individual labels.

h4. itemProperties.y_offset

If a question's label overlaps its bubbles, it may be necessary to manually set the pixel distance from the top of the segment where the bubbles begin using this property.

h3. choices

The choices sheet allows you to specify choices for use with `select_` type questions.

Example choices sheet:

| *list_name* | *name*  | *label* |
| cities      | seattle | Seattle |
| cities      | paris   | Paris   |
| cities      | new_york| New York|
| cities      | mumbai  | Mumbai  |

h3. choices sheet columns:

h4. list_name

The list_name is used to group choices into lists that can be referenced from the survey sheet. The example above could be referenced as follows:

| *type*           | *name*       | *label*                       |
| select_one cities||cities_visited| Which cities have you visited?|

h4. name

The name sets the value that the choice is stored as. This is useful in constraint formulas, and for formatting exports.

h4. label

Label sets the text that is drawn next to each choice bubble. There is a limited amount of space for them.

h2. settings

Example settings sheet:

| *form_title* | *font*                   |
| Example Form | 12pt Verdana, sans-serif |

h3. settings sheet columns:

h4. form_title

This sets the form title displayed at the top of the form.

h4. title_font

This sets the form title's font.

h4. font

This sets the font of all text used in the form.
{% end_textile %}
</div>
<script src="../static/transcription/assets/js/jquery.js"></script>
<script type="text/javascript">
//Javascript for the loading bar
$(document).ready(function() {
	$('#myForm').submit(function() {
		$('#submitBtn').replaceWith('<div class="progress progress-striped active"><div class="bar" style="width: 100%;"></div></div>');
	});
});
</script>
</body>
</html> 